
<div class="d-flex justify-content-between">
    <h2>Register</h2>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div style="overflow: auto; height:450px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

        <!-- First Name -->
        <div class="m-3 input-group">

            <div class="input-group-prepend">
                <span class="input-group-text">First Name</span>
            </div>

            <input required minlength="2" type="text" class="form-control" name="userFirstName"
                #userFirstName="ngModel" [(ngModel)]="service.formData.userFirstName">
        </div>

        <!-- Last Name -->
        <div class="m-3 input-group">

            <div class="input-group-prepend">
                <span class="input-group-text">Last Name</span>
            </div>

            <input required minlength="2" type="text" class="form-control" name="userLastName"
                #userLastName="ngModel" [(ngModel)]="service.formData.userLastName">
        </div>

        <!-- Username -->
        <div class="m-3 input-group">

            <div class="input-group-prepend">
                <span class="input-group-text">Username</span>
            </div>

            <input required minlength="2" type="text" class="form-control" name="userName"
                #userName="ngModel" [(ngModel)]="service.formData.userName">
        </div>

        <!-- Email -->
        <div class="m-3 input-group">

            <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
            </div>

            <input required minlength="4" type="email" class="form-control" name="email"
                #email="ngModel" [(ngModel)]="service.formData.email">
        </div>

        <!-- Password -->
        <div class="m-3 input-group">

            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>

            <input required minlength="6" type="password" class="form-control" name="password"
                #password="ngModel" [(ngModel)]="service.formData.password">
        </div>

        <button class="m-3" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            Register
        </button>

    </form>
</div>
