<div class="container">
    <mat-form-field>

        <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
    
    </mat-form-field>

    <div style="overFlow:auto">
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="listData" matSort>
    
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
    
                <ng-container matColumnDef="Options">
                    <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button color="warn" (click)="onDelete(row.cartId)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="cartId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cart Id</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.cartId}}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="bookCoverPath">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Book Cover</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <img src="{{element.bookCoverPath}}" alt="{{element.bookTitle}}" height="150rem">
                    </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="bookTitle">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Book Title</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.bookTitle}}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="bookQuantity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cart Quantity</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.bookQuantity}}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="bookPrice">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                    <mat-cell *matCellDef="let element">&#x20b9;{{element.bookPrice}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="bookSumTotal">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sum Total</mat-header-cell>
                    <mat-cell *matCellDef="let element">&#x20b9;{{element.bookSumTotal}}</mat-cell>
                </ng-container>
    
            </mat-table>
        </div>
    </div>
    <div class="mt-4">
        <h2 class="float-right">Cart Total: &#x20b9;{{this.totalCartValue}}</h2>
        <button class="float-right mr-4" mat-raised-button (click)="onOrder()" color="accent">
            Order
        </button>
    </div>
</div>


